transformers==5.3.0
datasets
huggingface_hub==1.6.0
sentence-transformers
accelerate
evaluate

torch
torchvision

faiss-cpu
scikit-learn
numpy
pandas
matplotlib
seaborn

jupyterlab
ipywidgets

Pillow

python-dotenv
tqdm
requests